body {
    font-family: Arial, sans-serif;
    /* Eliminamos text-align: center; para alinear a la izquierda */
    max-width: 800px; /* Limitamos el ancho máximo del contenido para una mejor visualización */
    margin: 0 auto; /* Centramos el contenido horizontalmente dentro del contenedor */
}

h1, h2 {
    text-align: left;
}

/* Estilos adicionales para enlaces, listas, etc. */
a {
    color: blue;
    text-decoration: none;
}

ol {
    padding-left: 20px;
}